/dist/
build/
build/built-jar.properties
nbproject/private/private.xml
nbproject/private/private.properties
build/built-jar.properties
build/built-jar.properties
nbproject/private/private.properties
nbproject/private/private.xml
build/built-jar.properties
build/classes/Clases/Usuario.class
build/classes/Clases/UsuarioSesion.class
build/classes/com/microsoft/schemas/_2003/_10/serialization/ObjectFactory.class
build/classes/META-INF/jax-ws-catalog.xml
build/classes/META-INF/wsdl/fvsoluciones-001-site1.ftempurl.com/Service1.svc.singlewsdl.wsdl
build/classes/org/datacontract/schemas/_2004/_07/wsporta/CompositeType.class
build/classes/org/datacontract/schemas/_2004/_07/wsporta/ObjectFactory.class
build/classes/org/datacontract/schemas/_2004/_07/wsporta/package-info.class
build/classes/org/tempuri/CreaUser.class
build/classes/org/tempuri/CreaUserResponse.class
build/classes/org/tempuri/GetData.class
build/classes/org/tempuri/GetDataResponse.class
build/classes/org/tempuri/GetDataUsingDataContract.class
build/classes/org/tempuri/GetDataUsingDataContractResponse.class
build/classes/org/tempuri/GetMaxPerona.class
build/classes/org/tempuri/GetMaxPeronaResponse.class
build/classes/org/tempuri/GetSexo.class
build/classes/org/tempuri/GetSexoResponse.class
build/classes/org/tempuri/InsertPers.class
build/classes/org/tempuri/InsertPersResponse.class
build/classes/org/tempuri/IService1.class
build/classes/org/tempuri/LoginUsuario.class
build/classes/org/tempuri/LoginUsuarioResponse.class
build/classes/org/tempuri/ObjectFactory.class
build/classes/org/tempuri/package-info.class
build/classes/org/tempuri/Service1.class
build/classes/org/tempuri/UpdateUserPass.class
build/classes/org/tempuri/UpdateUserPassResponse.class
build/classes/Servicios/WsUsuario.class
build/classes/Vista/adm_tiendas$1.class
build/classes/Vista/adm_tiendas$2.class
build/classes/Vista/adm_tiendas.class
build/classes/Vista/Home$1.class
build/classes/Vista/Home$2.class
build/classes/Vista/Home.class
build/classes/Vista/Login$1.class
build/classes/Vista/Login$2.class
build/classes/Vista/Login$3.class
build/classes/Vista/Login.class
build/generated-sources/jax-ws/com/microsoft/schemas/_2003/_10/serialization/ObjectFactory.java
build/generated-sources/jax-ws/org/datacontract/schemas/_2004/_07/wsporta/CompositeType.java
build/generated-sources/jax-ws/org/datacontract/schemas/_2004/_07/wsporta/ObjectFactory.java
build/generated-sources/jax-ws/org/datacontract/schemas/_2004/_07/wsporta/package-info.java
build/generated-sources/jax-ws/org/tempuri/CreaUser.java
build/generated-sources/jax-ws/org/tempuri/CreaUserResponse.java
build/generated-sources/jax-ws/org/tempuri/GetData.java
build/generated-sources/jax-ws/org/tempuri/GetDataResponse.java
build/generated-sources/jax-ws/org/tempuri/GetDataUsingDataContract.java
build/generated-sources/jax-ws/org/tempuri/GetDataUsingDataContractResponse.java
build/generated-sources/jax-ws/org/tempuri/GetMaxPerona.java
build/generated-sources/jax-ws/org/tempuri/GetMaxPeronaResponse.java
build/generated-sources/jax-ws/org/tempuri/GetSexo.java
build/generated-sources/jax-ws/org/tempuri/GetSexoResponse.java
build/generated-sources/jax-ws/org/tempuri/InsertPers.java
build/generated-sources/jax-ws/org/tempuri/InsertPersResponse.java
build/generated-sources/jax-ws/org/tempuri/IService1.java
build/generated-sources/jax-ws/org/tempuri/LoginUsuario.java
build/generated-sources/jax-ws/org/tempuri/LoginUsuarioResponse.java
build/generated-sources/jax-ws/org/tempuri/ObjectFactory.java
build/generated-sources/jax-ws/org/tempuri/package-info.java
build/generated-sources/jax-ws/org/tempuri/Service1.java
build/generated-sources/jax-ws/org/tempuri/UpdateUserPass.java
build/generated-sources/jax-ws/org/tempuri/UpdateUserPassResponse.java
build/generated/jax-wsCache/Service1/com/microsoft/schemas/_2003/_10/serialization/ObjectFactory.java
build/generated/jax-wsCache/Service1/org/datacontract/schemas/_2004/_07/wsporta/CompositeType.java
build/generated/jax-wsCache/Service1/org/datacontract/schemas/_2004/_07/wsporta/ObjectFactory.java
build/generated/jax-wsCache/Service1/org/datacontract/schemas/_2004/_07/wsporta/package-info.java
build/generated/jax-wsCache/Service1/org/tempuri/CreaUser.java
build/generated/jax-wsCache/Service1/org/tempuri/CreaUserResponse.java
build/generated/jax-wsCache/Service1/org/tempuri/GetData.java
build/generated/jax-wsCache/Service1/org/tempuri/GetDataResponse.java
build/generated/jax-wsCache/Service1/org/tempuri/GetDataUsingDataContract.java
build/generated/jax-wsCache/Service1/org/tempuri/GetDataUsingDataContractResponse.java
build/generated/jax-wsCache/Service1/org/tempuri/GetMaxPeronaResponse.java
build/generated/jax-wsCache/Service1/org/tempuri/GetMaxPerona.java
build/generated/jax-wsCache/Service1/org/tempuri/GetSexo.java
build/generated/jax-wsCache/Service1/org/tempuri/GetSexoResponse.java
build/generated/jax-wsCache/Service1/org/tempuri/InsertPers.java
build/generated/jax-wsCache/Service1/org/tempuri/IService1.java
build/generated/jax-wsCache/Service1/org/tempuri/InsertPersResponse.java
build/generated/jax-wsCache/Service1/org/tempuri/LoginUsuario.java
build/generated/jax-wsCache/Service1/org/tempuri/LoginUsuarioResponse.java
build/generated/jax-wsCache/Service1/org/tempuri/ObjectFactory.java
build/generated/jax-wsCache/Service1/org/tempuri/package-info.java
build/generated/jax-wsCache/Service1/org/tempuri/Service1.java
build/generated/jax-wsCache/Service1/org/tempuri/UpdateUserPass.java
build/generated/jax-wsCache/Service1/org/tempuri/UpdateUserPassResponse.java
build/built-jar.properties
build/built-jar.properties
*.properties
